doctype html
html(lang="en")
	head
		title Codificador IRAP
		link(rel='stylesheet', media='screen', href='//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
	body.container
		.container
			h1 Codificador IRAP